<div class="wrapper">
  <div class="container">
    <div class="row">

      <!-- Premio Mayor -->
      <div class="col-md-6">
        <div class="float-md-left">
          <h1>
            <i class="fa fa-star" aria-hidden="true"></i>Premio Mayor</h1>
          <img src="../../../assets/img/letrasEntrenaPremio.png" class="img-fluid animated bounceIn" alt="Premio Mayor: Entrenar con el Capitán">
        </div>
      </div>

      <!-- Otros premios -->
      <div class="col-md-6">
        <div class="d-flex align-items-end alto">
          <div class="pb-5 mx-auto">
            <h1>
              <i class="fa fa-star" aria-hidden="true"></i>Otros Premios</h1>
            <img src="../../../assets/img/otrosPremios.png" class="img-fluid animated bounceIn" alt="También puedes ganar otros premios: 2 Playstation 4, 15 camisetas o 15 pelotas autografiadas">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>