<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-7 col-sm-9 col-10 mx-auto bg-foto d-flex align-items-end">
        <div class="mb-5">
          <img src="../../../assets/img/letrasEntrenaHome.png" class="img-fluid w-100" alt="Entrena con el Capitán">
          <p class="text-center mt-2">
            Participa en el sorteo y sé uno de los 30 hinchas que conocerán a
            <strong>Paolo Guerero</strong> en persona.
            <br> También podrás ganar
            <a [routerLink]="['/premios']">Grandes Premios</a>
          </p>
          <div class="text-center">
            <button type="button" (click)="btnClick()" class="btn btn-primary">Participa</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>